<!-- Start part form -->
  <div class="container-fluid layout_padding2-top part-form" id="part-form">
    <div class="row">
      <div class="col-md-12 text-left">
        <h3>
          Part <span id="part-number">{{ part_number }}</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <div class="form-group" id="text-content">
            {{ part_form.content }}          
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <div class="col-1 p-0" id="is-multiple-choice">{{ part_form.is_multiple_choice }}</div>
              <div class="col-11 p-0 text-left">Multiple choice </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col"><span style="white-space: nowrap;">Max score per answer</span></div>
              <div class="col" id="max-score-per-answer">{{ part_form.max_score_per_answer }}</div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-auto">
                <label for="exampleInputFile">
                  Image
                </label>
              </div>
              <div class="col pl-0" id="img-content">{{ part_form.content_img }}</div>
            </div>
          </div>
          
          {% if category == "Listening" %}
          <div class="form-group">
            <div class="row">
              <div class="col-auto">
                <label for="exampleInputFile">
                  Audio
                </label>
              </div>
              <div class="col pl-0" id="part-audio">{{ part_form.audio }}</div>
            </div>
          </div>
          {% endif %}
      </div>
    </div>

      <!-- Fill in js with questions -->
      <div id="question-forms"></div>

    <div class="row">
      <div class="col-md-12 text-left">
        <button type="button" class="btn btn-success">
          Add part
        </button>
      </div>
    </div>
  </div>
  <!-- End part form -->
