  <form>
  <!-- Add question form -->
  <div class="row" id="question-form-{{ part_number }}-{{ question_number }}">
    <div class="col-md-12">
        <div class="row">
          <div class="col-auto">
            <div class="form-group">
              <div class="row">
                <div class="col-auto">
                  <label for="exampleInputEmail1">
                    Nº {{ question_number }}
                    <input type="hidden" name="questions-count-{{ part_number }}" value="{{ question_number }}">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <input type="text" name="correct-answers-{{ part_number }}-{{ question_number }}" class="form-control" placeholder="Correct answer 1; Correct answer2; ..." required="" id="correct-answers-{{ part_number }}-{{ question_number }}">
            </div>
          </div>
          <div class="col-md-1 text-left">
            <button type="button" class="btn btn-success m-0 px-2 py-0" id='add-question-{{ question_number }}' >
              +
            </button>
            <button type="button" class="btn btn-danger m-0 px-2 py-0" id='delete-question-{{ question_number }}'>
              -
            </button>
          </div>
          <div class="col-md-3">
            
            {% if category == "Listening" %}
            <div class="form-group">
              <div class="row">
                <div class="col-auto">
                  <label for="exampleInputFile">
                    <i class="fa fa-solid fa-microphone"></i>
                  </label>
                </div>
                <div class="col pl-0">
                  <input type="file" name="question-audio-{{ part_number }}-{{ question_number }}" class="form-control-file mb-0 pl-0 form-control-sm" id="question-audio-{{ part_number }}-{{ question_number }}">
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
  <!-- End add question form -->
</form>