{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>English tests</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'tests/css/bootstrap.css' %}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Custom styles for this template -->
  <link href="{% static 'tests/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'tests/css/responsive.css' %}" rel="stylesheet" />

  {% block script %}
  {% endblock %}
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'index' %}">
            <h3>
              YET
            </h3>
            <span>Your English Tests</span>
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              {% if user.is_authenticated %}
                  <li class="nav-item {% if request.path == '/'  %}active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Tests</a>
                  </li>
                {% if user.is_teacher %}
                  <li class="nav-item {% if request.path == '/new_test/'  %}active{% endif %}">
                    <a class="nav-link" href="{% url 'new_test' %}">New Test</a>
                  </li>
                {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
              {% else %}
              <li class="nav-item {% if request.path == '/login/'  %}active{% endif %}">
                <a class="nav-link" href="{% url 'login' %}">Login </a>
              </li>
              <li class="nav-item {% if request.path == '/register/'  %}active{% endif %}">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
        {% if user.is_authenticated %}
        <div class="row w-100">
          <div class="text-right col pr-0">
            Signed in as <strong>@{{ user.username }}</strong>
          </div>
        </div>
        {% endif %}
      </div>
    </header>
  </div>
    <!-- end header section -->
            {% block body %}
            {% endblock %}
  <script type="text/javascript" src="{% static 'tests/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'tests/js/bootstrap.js' %}"></script>

</body>

</html>