{% extends "tests/layout.html" %}
{% load static %}
{% load load_answer %}

{% block script %}
    <script src="{% static 'tests/js/add_edit_test.js' %}"></script>
{% endblock %}

{% block body %}

  {% if user.is_teacher %}
  <!-- Teacher admin test section -->
    <div class="event_section">
      <div class="container">
        <div class="event_container">
          <div class="box">
            <div class="img-box">
              <h3>
                <strong>{{ test.title }}</strong>
              </h3>
              <h6>
                {% if test.category.category == "Listening" %}
                <i class="fas fa-headphones-alt"></i>
                {% else %}
                <i class="fa fas fa-glasses"></i>
                {% endif %}
                {{ test.category }}
              </h6>
                <button type="button" class="btn" value="{{ test.id }}" id="edit-btn">
                  <div class="btn-box"><a class="page-link mt-0"><i class="far fa-edit"></i> Edit this test</a></div>
                </button>
            </div>
            <div class="detail-box">
              <div class="row">
                <div class=col>
                  <form class="form-inline" action="{% url 'assign' test.id %}" method="post">
                    {% csrf_token %}
                    Assign to:&nbsp; 
                    <select name="assign" class="form-control" id="assign">
                      <option value="0"></option>
                      {% for user in assignable %}
                          <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</option>  
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn">
                      <div class="btn-box"><a class="page-link mt-0 px-2">Assign</a></div>
                    </button>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class=col>
                  <form class="form-inline" action="{% url 'unassign' test.id %}" method="post">
                    {% csrf_token %}
                    Remove:&nbsp; 
                    <select name="remove" class="form-control" id="remove">
                      <option value="0"></option>
                      {% for user in assigned %}
                          <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</option>  
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn">
                      <div class="btn-box"><a class="page-link mt-0 px-2">Remove</a></div>
                    </button>
                  </form>
                </div>
              </div>
              {% if messages %}
              <div class="row">
                <div class="col">
                    {% for message in messages %}
                    <i class="fa fa-check" aria-hidden="true"></i> {{ message }}
                    {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
            <div class="date-box">
              <h3>
                <span>
                  {{ test.timestamp.day }}
                </span>
                {{ test.timestamp|date:"F" }}
              </h3>
              <h4>{{ test.timestamp.year }}</h4>
              <button type="button" class="btn" value="{{ test.id }}" id="results-btn">
                <div class="btn-box"><a href="{% url 'teacher_results' test.id %}" class="page-link mt-0">See results</a></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="edit-test-view">
    </div>
  {% else %}
    {% if assignment.finished_date %}
    <!-- If student finished the test, show test results -->
      <!-- student results section -->
      <section class="event_section layout_padding2-top">
        <div class="container">
          <div class="heading_container">
            <h3>
              Results
            </h3>
            
          </div>
          <div class="event_container">
            <div class="row">
              <div class="col-12">
                <div class="box">
                  <div class="detail-box border-0">
                    <h4>
                      {{ assignment.test.title }}
                    </h4>
                    <h6>
                      {% if assignment.test.category.category == "Listening" %}
                            <i class="fas fa-headphones-alt"></i>
                      {% else %}
                            <i class="fa fas fa-glasses"></i>
                      {% endif %}
                      {{ assignment.test.category }}
                    </h6>
                  </div>
                  <div class="detail-box">
                    <h1>
                      <strong>
                        {{ assignment.score_percent }}%
                      </strong>
                    </h1>
                  </div>
                  <div class="date-box">
                    <h4>
                      <span>
                        {{ assignment.assigned_date.day }}
                      </span>
                      {{ assignment.assigned_date|date:"F" }}
                    </h4>
                    <h6>
                      <span>
                        Finished
                      </span>
                      {{ assignment.finished_date.day }} {{ assignment.finished_date|date:"F" }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-1">
                      <strong>#</strong>
                    </div>
                    <div class="col-md-4">
                      <strong>Your answer</strong>
                    </div>
                    <div class="col-md-5">
                      <strong>Correct answer(s)</strong>
                    </div>
                    <div class="col-md-2">
                      <strong>Score</strong>
                    </div>
                  </div>
                  {% for part in assignment.test.parts.all %}
                    {% for question in part.questions.all %}
                      <div class="row {% cycle 'bg-light' '' %} {% if assignment|load_score:question != 0 %}text-success{% else %}text-warning{% endif %}">
                        <div class="col-md-1">
                          {{ question.number }}
                        </div>
                        <div class="col-md-4">
                          {{ assignment|load_answer:question }}
                        </div>
                        <div class="col-md-5">
                          {{ question.correct_answers }}
                        </div>
                        <div class="col-md-2">
                          {{ assignment|load_score:question }}/{{ part.max_score_per_answer }}
                        </div>
                      </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
              </div>
          </div>
        </div>
      </section>
      <!-- end student test section -->
    {% endif %}
  {% endif %}

  {% for part in parts %}
  <!-- Test content -->
  <section class="event_section layout_padding" id="view-test-section">
    <div class="container">
      <div class="heading_container">
        <h3>
          Part {{ part.part_number }}
        </h3>
        <p>
          {% if part.test.category.category == "Listening" %}
                <i class="fas fa-headphones-alt"></i>
          {% else %}
                <i class="fa fas fa-glasses"></i>
          {% endif %}
          {{ part.test.category }}
        </p>
      </div>
      <div class="event_container">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div>
                <div class="text-left col">
                  {{ part.content|linebreaksbr }}
                </div>
                {% if part.content_img %}
                  <img class='img-fluid w-100' style="max-width: 800px;" src="{{ part.content_img.url }}">
                {% endif %}
                {% if part.audio %}
                    <audio src="{{ part.audio.url }}" controls >
                {% endif %}
              </div>
            </div>
          </div>
          {% if part.is_multiple_choice %}
            <div class="col-12">
              <div class="row px-4">
                <div class="col mb-3">
                  <div class="row">
                      {% for question in part.get_questions %}
                        <div class="col-md col-sm-3 col-xs-6 mt-3 pt-2">
                          {% if assignment and not assignment.finished_date %}
                          <div class="row align-items-end">
                              <label><span class="question_number">{{ question.number }}</span>.</label>
                            <div class="col pl-1">
                              <select class="custom-select" id="answer-{{ question.number }}">
                                <option selected></option>
                                <option value="A" {% if assignment|load_answer:question == 'A' %}selected{% endif %}>A</option>
                                <option value="B" {% if assignment|load_answer:question == 'B' %}selected{% endif %}>B</option>
                                <option value="C" {% if assignment|load_answer:question == 'C' %}selected{% endif %}>C</option>
                                {% if part.test.category.category != "Listening" %}
                                <option value="D" {% if assignment|load_answer:question == 'D' %}selected{% endif %}>D</option>
                                {% endif %}
                              </select>
                            </div>
                          </div>
                          {% endif %}
                          {% if question.audio %}
                              <audio src="{{ question.audio.url }}" controls >
                          {% endif %}
                        </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>  
          {% else %}
            <div class="col-12">
              <div class="row px-4">
                <div class="col mb-3">
                  <div class="row">
                      {% for question in part.get_questions %}
                      <div class="col-lg-6">
                        <div class="row align-items-end">
                          {% if assignment and not assignment.finished_date %}
                            <label class="pl-1"><span class="question_number">{{ question.number }}</span>.</label>
                          <div class="col px-2 mb-2">
                            <input type="text" class="form-control" id="answer-{{ question.number }}" value="{{ assignment|load_answer:question }}">
                          </div>
                          {% endif %}
                          {% if question.audio %}
                              <audio src="{{ question.audio.url }}" controls >
                          {% endif %}
                        </div>
                      </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div> 
          {% endif %} 
          <div class="col-12">
            <nav>
              <ul class="pagination justify-content-center">
                {% if parts.has_previous %}
                  <li class="btn-box">
                      <a class="page-link" href="#" onclick="save_current_answers('{{ assignment.id }}', false, `?part={{ parts.previous_page_number }}` )" id="prev-part-button">Previous</a>
                  </li>
                {% endif %}
                <li class="pgn-box">
                    <a class="page-link">Part {{ parts.number }} of {{ parts.paginator.num_pages }}</a>
                    <input type="hidden" value="{{ assignment.id }}" id="assignment-id">
                    <input type="hidden" value="{{ parts.number }}" id="part-number">
                    <input type="hidden" value="{{ csrf_token }}" id="csrfToken" />
                </li>
                {% if parts.has_next %}
                  <li class="btn-box">
                      <a class="page-link" href="#" onclick="save_current_answers('{{ assignment.id }}', false, `?part={{ parts.next_page_number }}` )" id="next-part-button">Next</a>
                  </li>
                {% else %}
                {% if assignment and not assignment.finished_date %}
                    <li class="btn-box">
                      <a class="page-link" href="#" onclick="save_current_answers('{{ assignment.id }}', true, `{% url 'test' test.id assignment.id %}` )" id="finish-button">Finish</a>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            </nav>
          </div>
    </div>
  </section>
  <!-- end test content section -->
  {% endfor %}

{% endblock %}