{% extends "tests/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'tests/js/test.js' %}"></script>
{% endblock %}

{% block body %}

  {% if user.is_teacher %}
    <div class="event_section">
      <div class="container">
        <div class="event_container">
          <div class="box">
            <div class="img-box">
              <h3>
                <strong>{{ test.title }}</strong>
              </h3>
              <h6>
                {% if test.category.category == "Listening" %}
                <i class="fas fa-headphones-alt"></i>
                {% else %}
                <i class="fa fas fa-glasses"></i>
                {% endif %}
                {{ test.category }}
              </h6>
                <button type="button" class="btn" value="{{ test.id }}" id="edit-btn">
                  <div class="btn-box"><a class="page-link mt-0"><i class="far fa-edit"></i> Edit this test</a></div>
                </button>
            </div>
            <div class="detail-box">
              <div class="row">
                <div class=col>
                  <form class="form-inline" action="{% url 'assign' test.id %}" method="post">
                    {% csrf_token %}
                    Assign to:&nbsp; 
                    <select name="assign" class="form-control" id="assign">
                      <option value="0"></option>
                      {% for user in assignable %}
                          <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</option>  
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn">
                      <div class="btn-box"><a class="page-link mt-0">Assign</a></div>
                    </button>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class=col>
                  <form class="form-inline" action="{% url 'unassign' test.id %}" method="post">
                    {% csrf_token %}
                    Remove:&nbsp; 
                    <select name="remove" class="form-control" id="remove">
                      <option value="0"></option>
                      {% for user in assigned %}
                          <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</option>  
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn">
                      <div class="btn-box"><a class="page-link mt-0">Remove</a></div>
                    </button>
                  </form>
                </div>
              </div>
              {% if messages %}
              <div class="row">
                <div class="col">
                    {% for message in messages %}
                    <i class="fa fa-check" aria-hidden="true"></i> {{ message }}
                    {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
            <div class="date-box">
              <h3>
                <span>
                  {{ test.timestamp.day }}
                </span>
                {{ test.timestamp|date:"F" }}
              </h3>
              <h4>{{ test.timestamp.year }}</h4>
              <button type="button" class="btn" value="{{ test.id }}" id="results-btn">
                <div class="btn-box"><a class="page-link mt-0">See results</a></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="edit-test-view">
    </div>
  {% endif %}
  {% for part in parts %}
  <!-- event section -->
  <section class="event_section layout_padding" id="view-test-section">
    <div class="container">
      <div class="heading_container">
        <h3>
          Part {{ part.part_number }}
        </h3>
        <p>
          {% if part.test.category.category == "Listening" %}
                <i class="fas fa-headphones-alt"></i>
          {% else %}
                <i class="fa fas fa-glasses"></i>
          {% endif %}
          {{ part.test.category }}
        </p>
      </div>
      <div class="event_container">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div>
                <div class="text-left">
                  {{ part.content|linebreaksbr }}
                </div>
                {% if part.content_img %}
                  <img class='img-fluid w-100' src="{{ part.content_img.url }}">
                {% endif %}
                {% if part.audio %}
                    <audio src="{{ part.audio.url }}" controls >
                {% endif %}
              </div>
            </div>
          </div>
          {% if part.is_multiple_choice %}
          <div class="col-12">
            <div class="row px-4">
              <div class="col mb-3">
                <div class="row">
                    {% csrf_token %}
                    {% for question in part.get_questions %}
                      <div class="col-md col-sm-3 col-xs-6 m-3 p-2">
                        <div class="row align-items-end">
                            <label>{{ question.number }}.</label>
                          <div class="col pl-1">
                            <select class="custom-select">
                              <option selected></option>
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="C">C</option>
                              {% if part.test.category.category != "Listening" %}
                              <option value="D">D</option>
                              {% endif %}
                            </select>
                          </div>
                        </div>
                        {% if question.audio %}
                            <audio src="{{ question.audio.url }}" controls >
                        {% endif %}
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>  
          {% else %}
            <div class="col-12">
              <div class="row px-4">
                <div class="col mb-3">
                  <div class="row">
                      {% csrf_token %}
                      {% for question in part.get_questions %}
                      <div class="col-lg-6">
                        <div class="row align-items-end">
                            <label class="pl-1">{{ question.number }}.</label>
                          <div class="col px-2 mb-2">
                            <input type="text" class="form-control">
                          </div>
                          {% if question.audio %}
                              <audio src="{{ question.audio.url }}" controls >
                          {% endif %}
                        </div>
                      </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div> 
          {% endif %} 
          <div class="col-12">
            <nav>
              <ul class="pagination justify-content-center">
                {% if parts.has_previous %}
                  <li class="btn-box">
                      <a class="page-link" href="?part={{ parts.previous_page_number }}">Previous</a>
                  </li>
                {% endif %}
                <li class="pgn-box">
                    <a class="page-link">Part {{ parts.number }} of {{ parts.paginator.num_pages }}</a>
                </li>
                {% if parts.has_next %}
                  <li class="btn-box">
                      <a class="page-link" href="?part={{ parts.next_page_number }}">Next</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
    </div>
  </section>
  <!-- end event section -->
  {% endfor %}

{% endblock %}